@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-style: 'Poppins', sans-serif;
}

body {
}
.senaiImg {
  height: 274px;
  width: 100%;
}
.computadorImg {
  width: 100%;
}

.reservaSala {
  color: #df608f;
  text-transform: uppercase;
  background-color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  width: 275px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rightside,
.leftside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}
.corpoRequisicao {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #68c7ff;
  padding: 35px;
}
